<h1> <%= @user.name %> </h1>

<div class="btn-group" id="profile-conf">
    <%= link_to "Editar perfil", edit_user_path, class: "btn btn-default" %>
    <!-- <%= link_to "Excluir perfil", user_path, method: :delete, class: "btn btn-default", data: { confirm: "Você tem certeza que deseja excluir sua conta?" } %> -->
</div>

<table class='table' id="profile-table">
  <thead>
    <th class="align-center">Suas Respostas</th>
    <th class="align-center">Gabarito</th>
  </thead>

  <tr>
    <td class="align-center">Nome</td>
    <td class="align-center"><%= @user.name %></td>
  </tr>
  <tr>
    <td class="align-center">Email</td>
    <td class="align-center"><%= @user.email %></td>
  </tr>
</table>

<!--
<h2>Meus quadros</h2>

<%= render :partial => "user_boards" %>

<h2>Todos os quadros</h2>

<%= render :partial => "boards/all_boards" %>
-->