<h1> <%= @user.name %> </h1>

<div class="btn-group" id="profile-conf">
    <%= link_to "Editar perfil", edit_user_path, class: "btn btn-default" %>
    <%= link_to "Excluir perfil", user_path, method: :delete, class: "btn btn-default", data: { confirm: "Você tem certeza que deseja excluir sua conta?" } %>
</div>

<h2>Meus quadros</h2>

<%= render :partial => "user_boards" %>

<h2>Todos os quadros</h2>

<%= render :partial => "boards/all_boards" %>