<h1> Crie um novo quadro </h1>

<% if @board.errors.any? %>
    <% @board.errors.full_messages.each do |error_message| %>
    <%= error_message %>
  <% end %>
<% end %>

<%= form_for @board do |f| %>

  <div class='new-board-info'>
    <div id='board-name-field'>
      <%= f.label :name, "Nome" %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div id='board-description-field'>
      <%= f.label :description, "Descrição" %>
      <%= f.text_area :description, class: 'form-control' %>
    </div>
  </div>

  <div id="selection">
    <div id="member-sel-title"><h2>Vincular membros</h2></div>
    <div id="tag-sel-title"><h2>Adicionar etiquetas ao quadro</h2></div>

    <div id="member-selection">
      <% @users.each do |user| %>
        <div id="select-members">
          <%= f.check_box(:members, { :multiple => true }, user.id) %>
          <%= user.name %>
        </div>
      <% end %>
    </div>

    <div id="tag-selection">
      <% @tags.each do |tag| %>
        <div id="select-tags">
          <%= f.check_box(:tags, { :multiple => true }, tag.id) %>
          <%= tag.name %>
        </div>
      <% end %>
    </div>
  </div>

  <%= f.submit "Criar quadro", class: 'form-control btn btn-primary' %>

<% end %>


